/**
*
* {{ properCase name }}
*
*/
{{#if memo}}
import React, { memo } from 'react';
{{else}}
import * as React from 'react';

{{/if}}


// import styled from 'styles/styled-components';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

interface OwnProps {}

function {{ properCase name }}(props: OwnProps) => {
  return (
  <div>
    {{#if wantMessages}}
    <FormattedMessage {...messages.header} />
    {{/if}}
  </div>
  );
};

{{#if memo}}
export default memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}